/* You can add global styles to this file, and also import other style files */

.highlighted{

    background-color: yellow;
    border: 1px solid yellow;
    color: yellow;
}


.pointer {
    cursor: pointer;
}
